.container{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 400px;
    background-color: aqua;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    gap: 50px 20px;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    color: white;
    flex-grow: 1;

}
.item2{
    order: -1;
    flex-grow: 8;
    align-self: flex-end;
}