p{
    color:red;
    font-size: 20px;
}

.jk{
    color:blue;
}

#jkl{
    color:brown;
}

div{
    height:200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding:5px;
}