.assignment{
    width: 500px;
    height: 300px;
    padding: 1px;
    margin: 1px;
    border: 5px solid black;
    background-color: white;
}
.under{
    width: 400px;
    height: 100px;
    margin: 10px;
    padding: 1px;
    border: 35px solid rgb(8, 8, 218);
    background-color: yellow;
    align-content: center;
}